# Problem Set 2

## Answer 1:

In [2]:
a = 0
def b():
    global a
    a  = c(a)
def c(a):
    return a + 2

In [3]:
b()

In [4]:
b()

In [5]:
b()

In [6]:
a

6

# Answer 2 :

In [1]:
def fileLength(fileName):
    try:
        fopen = open(fileName,"r")
        data = fopen.read()
        print(len(data))
    except:
        print('File '+fileName+' not found')

In [2]:
fileLength('midterm.txt')

12

In [3]:
fileLength('idterm.txt')

File idterm.txt not found

# Answer 3 :

In [16]:
class Marsupial:
    contentList = []   
    def put_in_pouch(self,string):     
        self.contentList.append(string)
    def pouch_contents(self):
        print(self.contentList)
    
m = Marsupial();
m.put_in_pouch('doll')
m.put_in_pouch('firetrack')
m.put_in_pouch('kitten')
m.pouch_contents()

class kangaroo(Marsupial):
    def __init__(self,x,y):
        self.x = x
        self.y = y
    def jump(self,dx,dy):
        self.x = self.x + dx
        self.y = self.y + dy
        
k = kangaroo(0,0)
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)

print(k.x,k.y)

['doll', 'firetrack', 'kitten']
3 0

# Answer 4:

In [21]:
def collatz(x):
    if x != 1:
        print(x)
        if x % 2 == 0:
            return collatz(x / 2)
        else:
            return collatz(3 * x + 1)
    else:
        print(1)
print(collatz(10))

10
5.0
16.0
8.0
4.0
2.0
1
None

# Answer 5:

In [1]:
def binary(x):
    if x<=1:
        return str(x)
    else:
        return binary(x//2) + binary(x%2)

In [2]:
int(binary(0))

0

In [3]:
int(binary(1))

1

In [4]:
int(binary(3))

11

In [5]:
int(binary(9))

1001

# Answer 6:

In [16]:
from html.parser import HTMLParser


class HeadingParser(HTMLParser):

    c = 0      
    i = 0     
    
    def handle_starttag(self, tag, attrs):
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            self.c = 1                     

    def handle_data(self, data):
        if self.c == 1:
            print(data.rjust(len(data) + self.i), end ='\n') 
    def handle_endtag(self, tag):
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'h7', 'h8', 'h9']:
            self.c = 0                    
            self.i +=1   
        
infile = open("w3s.txt")  
content = infile.read() 
infile.close() 
hp = HeadingParser() 
hp.feed(content)

W3C Mission
 Principles

# Answer 7:

In [50]:
from bs4 import BeautifulSoup
import requests

urls=[]

def webdir(site):
       
    r = requests.get(site)

    s = BeautifulSoup(r.text,"html.parser")
       
    for i in s.find_all("a"):
          
        href = i.attrs['href']
           
        if href.startswith("/"):
            site = site+href
               
            if site not in  urls:
                urls.append(site) 
                print(site)
                webdir(site)

webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html')

# Answer 8:

In [2]:
import sqlite3
connect = sqlite3.connect('database.db')
cur = connect.cursor()
cur.execute("CREATE TABLE IF NOT EXISTS cityInfo (City text, Country text, Season text, Temperature double, Rainfall double)")

In [3]:
cur.execute("DELETE FROM cityInfo")
cur.execute("INSERT INTO cityInfo Values('Mumbai','India','Winter',24.8,5.9)")
cur.execute("INSERT INTO cityInfo Values('Mumbai','India','Spring',28.4,16.2)")
cur.execute("INSERT INTO cityInfo Values('Mumbai','India','Summer',27.9,1549.4)")
cur.execute("INSERT INTO cityInfo Values('Mumbai','India','Fall',27.6,346)")
cur.execute("INSERT INTO cityInfo Values('London','United Kingdom','Winter',4.2,207.7)")
cur.execute("INSERT INTO cityInfo Values('London','United Kingdom','Spring',8.3,169.6)")
cur.execute("INSERT INTO cityInfo Values('London','United Kingdom','Summer',15.7,157)")
cur.execute("INSERT INTO cityInfo Values('London','United Kingdom','Fall',10.4,218.5)")
cur.execute("INSERT INTO cityInfo Values('Cairo','Egypt','Winter',13.6,16.5)")
cur.execute("INSERT INTO cityInfo Values('Cairo','Egypt','Spring',20.7,6.5)")
cur.execute("INSERT INTO cityInfo Values('Cairo','Egypt','Summer',27.7,0.1)")
cur.execute("INSERT INTO cityInfo Values('Cairo','Egypt','Fall',22.2,4.5)")

In [4]:
cur.execute("select * from cityInfo")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

## A

In [5]:
cur.execute("SELECT Temperature FROM cityInfo")
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

## B

In [6]:
cur.execute("SELECT DISTINCT(City) FROM cityInfo")
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

## C

In [7]:
cur.execute("SELECT * FROM cityInfo WHERE Country = 'India'")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

## D

In [8]:
cur.execute("SELECT * FROM cityInfo WHERE Season = 'Fall'")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

## E

In [9]:
cur.execute("SELECT City, Country, Season FROM cityInfo WHERE Rainfall BETWEEN 200 AND 400")
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

## F

In [10]:
cur.execute("SELECT City, Country, Temperature FROM cityInfo WHERE Temperature > 20 ORDER BY Temperature")
cur.fetchall()

[('Cairo', 'Egypt', 20.7),
 ('Cairo', 'Egypt', 22.2),
 ('Mumbai', 'India', 24.8),
 ('Mumbai', 'India', 27.6),
 ('Cairo', 'Egypt', 27.7),
 ('Mumbai', 'India', 27.9),
 ('Mumbai', 'India', 28.4)]

## G

In [12]:
cur.execute("SELECT SUM(Rainfall) FROM cityInfo WHERE City = 'Cairo'")
cur.fetchall()

[(27.6,)]

In [22]:
cur.execute("SELECT Season,SUM(Rainfall) FROM cityInfo GROUP  BY Season")
cur.fetchall()

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Answer 9:

In [28]:
words = ['The',  'quick',  'brown',  'fox',  'jumps',  'over', 'the',  'lazy',  'dog']
words

['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

## A

In [29]:
upperWords = [i.upper() for i in words]
upperWords

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

## B

In [44]:
lowerWords = [i.lower() for i in words]
lowerWords

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

## C

In [34]:
lengthWords = [len(i) for i in words] 
lengthWords

[3, 5, 5, 3, 5, 4, 3, 4, 3]

## D

In [38]:
combinedList = []
for i in range(len(words)):
    temp = []
    temp.append(upperWords[i])
    temp.append(lowerWords[i])
    temp.append(lengthWords[i])
    combinedList.append(temp)
combinedList

[['THE', 'the', 3],
 ['QUICK', 'quick', 5],
 ['BROWN', 'brown', 5],
 ['FOX', 'fox', 3],
 ['JUMPS', 'jumps', 5],
 ['OVER', 'over', 4],
 ['THE', 'the', 3],
 ['LAZY', 'lazy', 4],
 ['DOG', 'dog', 3]]

## E

In [43]:
temp = []
for i in range(len(words)):
    if len(words[i]) >= 4:
        temp.append(words[i])
temp

['quick', 'brown', 'jumps', 'over', 'lazy']

In [1]:
try:
    x = float(input("Enter x :"))
    y = float(input("Enter y :"))
    z = float(input("Enter z :"))
    
    if x>y & x>z:
        print('x is largest')
    elif y>x
    
except:
    print("numbers only")

Enter x :a
numbers only